<link rel='stylesheet' href='/styles/personal.css' />
<link rel="shortcut icon" href="/images/personal/Misrab.ico">



<!-- main welcome -->
<div class="row big_space_top secondary" id="main">
	<div class="col-md-12">
		<!-- title row -->
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-2">
						<img style="width: 100%;" src="/images/personal/Misrab.png" />
					</div>
					<div class="col-md-10 text-center">
						<h1 style="margin-top: 0; ">Misrab.me</h1>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<!-- navbar -->
				<div class="row text-center">
					<div class="col-md-4">
						<span class="nav_blog">
							<a target="_blank" href="https://medium.com/@misrabfaizullahkhan">Blog</a>
						</span>
					</div>
					<div class="col-md-4">
						<span class="nav_projects">Projects</span>
					</div>
					<div class="col-md-4">
						<span class="nav_resume">
							<a target="_blank" href="https://s3.amazonaws.com/misrabme/Misrab+CV.pdf">Résumé</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- subtitle & image row -->
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12 text-center">
						<h4>Technologist, Learner, Homosapien</h4>
						<img style="width: 100%;" src="/images/personal/profile.jpg" />
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<!-- introduction paragraph -->
				<div class="big_space_top">
					<h3>
					I'm Misrab, a 26 year-old graduate of Stanford University. I grew up in Singapore, went to the French school, spent a couple of years in California, and now live in London.
					</h3>
					<h3>
					Please feel free to check out what I've worked and played on, or drop me an email at faizullah.misrab@gmail.com.
					</h3>
				</div>
			</div>
		</div>
		<!-- quote row -->
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="medium_space_top">
							<em>"My father once told me, 'Son, you can play for applause, but then that's all you'll get'."</em>
							<br />
							- A philosopher of Jazz
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<!-- empty -->
			</div>
		</div>
	</div>
</div>


<!-- projects -->
<div class="row big_space_top secondary" id="projects">
	<div class="col-md-12">

		<h3 class="text-left">Projects</h3>

		<!-- <div class="white_box">
			<a href="" target="_blank">
				<h4>Leucid Visualisation</h4>
			</a>
			<p>

			</p>
		</div> -->

		<div class="white_box">
			<a href="http://afternoon-garden-4776.herokuapp.com/" target="_blank">
				<h4>NeuroSplash</h4>
			</a>
			<p>
				This was an online educational platform I built with three friends. It allowed users to create little multimedia slideshows called "neurons" that would naturally connect to each other!
			</p>
		</div>

		<div class="white_box">
			<a href="http://interlude.im/" target="_blank">
				<h4>Interlude Chat</h4>
			</a>
			<p>
				I felt like web browsing lacked live interaction, and wanted to play with socket.io. With this app, webmasters can simply add one line of javascript to their site, and users browsing the same page can instantly chat with each other, and more!
			</p>
		</div>

		<div class="white_box">
			<a href="https://s3.amazonaws.com/misrabme/cs229.pdf" target="_blank">
				<h4>Machine Learning</h4>
			</a>
			<p>
				Three classmates and I built systems to recognise spoken language, including a Support Vector Machine, Mixtures of Gaussians and an Artificial Neural Network. We were able to distinguish languages with pretty high accuracy!
			</p>
		</div>

		<div class="white_box">
			<a href="https://s3.amazonaws.com/misrabme/ms233.pdf" target="_blank">
				<h4>Auction Design</h4>
			</a>
			<p>
				Automated, extremely high-frequency auctions are prevalent on the web today. Here I analyze exchanges in online advertising, and the incentives that affect bidding mechanisms.
			</p>
		</div>
	</div>
</div>

<!-- secret cyberdyne button -->
<div class="pull-right" >
	<a href="/cyberdyne">
		<button class="btn" style="background-color: #474747;">
			<img style="width: 48px;" src="/images/cyberdyne/cyberdyne.svg" />
		</button>
	</a>
</div>