body {
  background-color: #e7feff;
  color: #333333; }

.secondary {
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
  overflow-y: scroll;
  -webkit-box-shadow: 0 0 10px gray ;
  -moz-box-shadow: 0 0 10px gray ;
  box-shadow: 0 0 10px gray ; }

#main {
  background-color: beige; }

#blog {
  background-color: #7bb661; }
  #blog iframe {
    margin: 0 auto !important;
    background-color: white !important; }

#projects {
  background-color: #fe6f5e; }

.fun {
  background-color: #ffbf00; }

.white_box {
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  margin: 15px auto; }

.nav_blog, .nav_projects, .nav_resume {
  font-size: 1.5em;
  cursor: pointer; }

.nav_blog:hover, .nav_projects:hover, .nav_resume:hover {
  color: black; }

.nav_blog {
  color: #7bb661; }

.nav_projects {
  color: #fe6f5e; }
