<link rel='stylesheet' href='/styles/cyberdyne.css' />


<img src='/images/cyberdyne/cyberdyne.svg' id="cyberdyne_logo" />

<div style="height: 100%;" id="core">
	<div class="row text-center">
		<div style="position: relative;" class="col-md-12">
			<h3>
				Welcome to Cyberdyne Core
			</h3>
			<div style="position: absolute;" id="tooltip"></div>
			<div style="position: absolute; top: 10px; right: 0;">
				<button ng-click="logout()" class="boxy btn btn-default">Logout</button>
			</div>
		</div>
	</div>


	<div style="height: 100%;" class="row big_space_top text-center">
		<div class="col-md-4">
			<h3 style="margin-bottom: 30px;">Notes</h3>
			<div id="notes" contenteditable="true" class="text-left"></div>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4 text-center">
			<h3 style="margin-bottom: 30px;">Applications</h3>
			<button class="btn btn-default boxy full_width">
				<h4>Analytics</h4>
			</button>

			<button class="btn btn-default boxy full_width big_space_top">
				<h4>Satchel</h4>
			</button>
		</div>
	</div>
</div>
